.Container {
    display: flex;
    justify-content: center;
}

.Bold {
    font-weight: bolder;
}

.Subheading {
    text-align: center;
    border-width: 0 0 2px 0;
    border-color: #ebedf2;
    border-style: solid;
    margin: 0 20px 0 20px;
}

.SubContent {
    margin: 10px 8px 10px 8px;
}

.FilterSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0 5px 0;
    justify-content: flex-start;
    align-items: center;

}

.FilterButton {
    background-color: #62c487;
    height: 34px;
    width: 80px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-transform: capitalize;
}

.FlexWrap {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Card {
    width: 100%;
    padding: 15px;
    height: 100%;
}

.CardContainer {
    padding: 10px;

}

.CardBodySection {
    display: flex;
    padding: 5px 0;
}

.logoContainer {
    background-color: #f2f6fa;
}

@media screen and (min-width: 700px) {
    .CardContainer {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .CardContainer {
        flex-basis: 25%;
    }
}
